@media only screen and (max-width: 1440px) {
    .text h1 {
        font-size: 70px;
    }
    .text input {
        font-size: 25px;
    }
    .text .textarea {
        font-size: 25px;
    }
    .text #button {
        font-size: 25px;
    }
    .image img {
        width: 500px;
    }
}
@media only screen and (max-width: 1024px) {
    body {
        grid-template-columns: 85% 15%;
    }
    .image {
        display: none;
    }
}
@media only screen and (max-width: 834px) {
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        display: block;
    }
    .sidebar {
        position: fixed;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
    }
    .sidebar div {
        padding-top: 20px;
    }
    .sidebar svg {
        fill: white;
        opacity: 0.7;
    }
    .sidebar svg:hover {
        fill: white;
        opacity: 1;
        transition: all 0.4s ease 0s;
    }
    .sidebar a {
        margin-left: -70%;
    }
}
@media only screen and (max-width: 636px) {
    .text {
        margin: 100px 10% 0 10%;
    }
    .text .imgOne {
        opacity: 1;
        height: 2px;
        width: 290px;
    }
    .text .imgTwo {
        opacity: 1;
        height: 2px;
        width: 290px;
    }
    .text .imgThree {
        opacity: 1;
        height: 2px;
        width: 290px;
    }
    .text #button {
        font-size: 25px;
        padding: 20px 0;
        width: 290px;
        margin-bottom: 150px;
    }
}
@media only screen and (max-width: 350px) {
    .text {
        margin: 90px 0 0 20px;
    }
    .text h1 {
        font-size: 55px;
    }
    .text input {
        font-size: 20px;
    }
    .text .textarea {
        font-size: 20px;
    }
    .text #button {
        font-size: 20px;
    }
}